@import "tailwindcss";

:root {
  --background: #0f0f14;
  --foreground: #ffffff;
}

html {
  scroll-behavior: smooth;
}

body {
  background: radial-gradient(
    circle at top,
    #6118ff 0%,
    #123173 45%,
    #505082 100%
  );

  color: var(--foreground);
  overflow-x: hidden;
}